services:
  db:
    image: postgres:15
    container_name: moneo-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=moneo_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: